    #index {
        color: black;
    }
    
    body {
        background-color: blanchedalmond;
    }
    
    p.sitio {
        color: blue;
        font-family: 'Courier New', Courier, monospace;
    }
    
    h1,
    h2,
    h3 {
        color: red;
    }
    
    #menu {
        background-color: darkcyan;
        font-family: cursive;
    }
    
    #inicio {
        color: aliceblue;
    }
    
    #inicio:hover {
        color: red;
    }
    
    table.tablainicio {
        height: 100px;
        width: 100%;
        background-color: darkseagreen;
    }
    
    table.tablasitios {
        width: 100%;
        background-color: darkseagreen;
    }
    
    table.tablacontacto {
        width: 100%;
        background-color: darkseagreen;
    }
    
    a.ref:link {
        color: green;
    }
    
    a.ref:visited {
        color: black;
    }
    
    a.ref:hover {
        color: red;
    }
    
    img {
        width: 400px;
        height: 400px;
        border-radius: 40%;
        border: 5px solid black;
    }
    
    #mapa {
        width: 100%;
        height: 600px;
    }
    
    li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    td.tamaño {
        width: 50%;
        height: 50%;
    }
    
    img.img {
        margin: 10px auto;
        display: block;
    }
    
    table {
        border: black 5px solid;
    }
    
    footer {
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }